body 
{
	background: lightgoldenrodyellow;
}

.titulo
{
	text-align: center;
	font-size: 35px;
	font-family: Forte;
}

.contenido
{
	font-size: 20px;
	text-align: justify;
}

.marco
{
	text-align: center;
}

.foto
{
	border-radius: 25%;
	width: 25%;
}

.piepagina
{
	font-size: 8px;
	text-align: center;
}