body 
{
	background: #FFF8DC;
	font-family: Comic Sans MS;
}

.titulo
{
	text-align: center;
	font-size: 35px;
	font-family: Forte;
}

.contenido
{
	font-size: 15px;
	text-align: justify;
}

.subt
{
	font-size: 25px;
	text-align: center;
}

.marco
{
	text-align: center;
	border-radius: 10%;
}

.marco1
{
	border-radius: 15%;
}

.marco1:hover
{
	transform: scale(1.1);
}

.piepagina
{
	font-size: 8px;
	text-align: center;
}